.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

nav{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  /* background: rgb(112, 130, 136); */
  color: white
}

.nav-links{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.test{
  color:white;
  text-decoration: none;
  padding-left: 50px;
}